.advise {
    display: flex;
    justify-content: center;
    text-align: center;
    color: hsl(150, 100%, 66%);
    border-radius: 50%;
    box-shadow: 10px;
}

.first-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 19%, 16%);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.quote-container {
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 20px;
    background-color: hsl(217, 19%, 24%);
    border-radius: 20px;
    margin: 0;
    position: relative;
    max-width: 700px;
    width: 90%; 
}

.button-container {
    background-color: hsl(150, 100%, 66%);
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    cursor: pointer;
}

.text-container {
    display: block;
    margin: 10px auto; 
    width: 80%; 
    max-width: 600px; 
}

@media (max-width: 375px) {
    .quote-container {
        font-size: 24px; 
        width: 90%; 
        padding: 15px; 
        border-radius: 10px;
    }
    .button-container {
        margin-top: 2rem; 
        bottom: -20px;
    }
    .text-container {
        width: 90%; 
    }
}
